<!DOCTYPE html>
    <html>
    <head>
        <title>Home</title>
        <style>
            body{
                background-color:aliceblue;
            }
            .img{
                width:35%;
                border-radius:30px;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <h1 class="text-center text-secondary">Welcome To Expense Manager</h1>
        <p class="mt-5 " >Expense Manager is a web application designed to simplify the process of tracking and managing expenses for individuals and businesses. It provides tools for efficiently recording expenses, categorizing them, and generating insightful reports. By using Expense Manager, users can streamline their financial tracking, gain insights into spending patterns, and maintain better control over their budgets. The application aims to enhance transparency, improve financial decision-making, and save time that would otherwise be spent on manual tracking and reconciliation.</p>
        <div class="mt-5 d-flex">
            <img class="align-content-end img" src="~/ex-3.jpeg" alt="image" />
            <h2 class="ms-lg-4 fw-light">You can add your expenses!
                <p>Using expense manager you can add your day to day expenses and monitor </p>
                <a class="btn btn-outline-success w-50" href="Home/Index">Add Expenses</a>
            </h2>
        </div>
        <div class="mt-lg-5 d-flex">
            <h2 class="fw-light">
                You can see your reports through pie chart!
                <p>Using this feature you can see how much you over spented on a particular product</p>
                <a class="btn btn-outline-warning w-50" href="Home/Reports">See Report</a>
            </h2>
            <img src="~/ex-2.png" class="justify-content-end img d-flex ms-4" alt="Alternate Text" />

        </div>

    </div>
    </body>
    </html>