@model List<ExpenseManager.Models.ExpenseModel>
<!DOCTYPE html>
    <html>
    <head>
        <title>Search Results</title>
    </head>
    <body>
     
        <div class="container">
            <h5>Your Search results are here</h5>

        @if(Model!=null && Model.Any())
        {
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Description</td>
                            <td>@item.Amount</td>
                            <td>@item.Date.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-secondary">No results found</p>
        }
    </div>
    </body>
    </html>